#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 > #backgroundBox {
  position: absolute;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_3 {
  position: absolute;
  width: 375.99999999999983px;
  min-height: 811.9999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_3 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_11 {
  position: absolute;
  width: 338.9810311284047px;
  height: 141.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_11 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_6 {
  position: absolute;
  width: 338.98103112840465px;
  min-height: 212.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_6 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_8 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_12 {
  position: absolute;
  width: 37.0px;
  height: 38.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_12 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_9 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_10 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_10 span {
  color: #828181;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #828181;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_10 span#rtr-s-Paragraph_10_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_13 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_13 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  opacity: 0.73;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_11 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_11 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_7 {
  position: absolute;
  width: 338.9810311284048px;
  min-height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_7 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #BABABA;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_14 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_14 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_12 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_15 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_15 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_13 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_1 {
  position: absolute;
  width: 375.9999999999999px;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_1 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #4A86E8;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_3 {
  position: absolute;
  width: 34.000000000000114px;
  height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_3 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_2 {
  position: absolute;
  width: 34.99999999999977px;
  height: 33.49999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_2 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_1 {
  position: absolute;
  width: 49.0px;
  height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_1 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_2 {
  position: absolute;
  width: 375.0px;
  min-height: 84.99999999999991px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_2 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_1 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_4 {
  position: absolute;
  width: 51.96206225680953px;
  height: 48.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_4 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_5 {
  position: absolute;
  width: 49.0px;
  height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_5 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_6 {
  position: absolute;
  width: 338.9810311284047px;
  height: 141.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_6 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_4 {
  position: absolute;
  width: 338.98103112840465px;
  min-height: 212.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_4 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_2 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_7 {
  position: absolute;
  width: 37.0px;
  height: 38.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_7 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_3 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_4 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_4 span {
  color: #828181;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #828181;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_8 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_8 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  opacity: 0.73;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_5 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_5 {
  position: absolute;
  width: 338.9810311284048px;
  min-height: 49.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_5 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #BABABA;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_9 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_9 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_6 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_10 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_10 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_7 {
  box-shadow: none;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_16 {
  position: absolute;
  width: 55.98101806640631px;
  height: 55.98101806640631px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 #s-Image_16 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8708ba50-db7d-41a2-bcdc-79c9ac24f8f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}